body {
    padding-top: 70px;
    padding-bottom: 200px;
    padding-left:150px;
    background-color:burlywood;
}

.body-content {
    padding-left: 150px;
    padding-right: 150px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}
